%main.container
  = render 'carousel'
  
  .container
    .jumbotron.text-center.mb-0
      %h2.h1=t('homepage.welcome')
      .mb-res-50
        %p= t('homepage.about')
      = link_to t('homepage.get_started'), catalog_index_path, class: 'btn btn-default'
  = render 'best_sellers'
