%tr
  %td
    %span.general-order-number= order.number
  %td
    %span.in-grey-900.font-16.fw-300 2016-11-14
  %td
    %span.font-16.in-grey-900.fw-300= @orders_presenter.order_status(order)
  %td
    %strong.font-16= @orders_presenter.price_with_delivery(order)
    