%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  =t('sorting.newest')
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  %li
    %a{href: "#"} 
      =t('sorting.newest')
  %li
    %a{href: "#"}
      =t('sorting.popular')
  %li
    %a{href: "#"} 
      =t('sorting.price_asc')
  %li
    %a{href: "#"} 
      =t('sorting.price_desc')
      