%tr
  %td
    .general-img-wrap-table
      %img.cart-img-shadow.pull-left{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  %td
    %p.title Android Programming for Beginners
  %td
    %span.font-16.in-gold-500= t('cart.summary.subtotal_price')
  %td
    .input-group
      %a.input-link{href: "#"}
        %i.fa.fa-minus.line-heaght-40
      %input.form-control.quantity-input{type: "text"}
      %a.input-link{href: "#"}
        %i.fa.fa-plus.line-heaght-40
  %td
    %span.font-16.in-gold-500= t('cart.summary.subtotal_price')
  %td
    %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
      %span{'aria-hidden': "true"} &times;
